<form
  [formGroup]="invoiceForm"
  (ngSubmit)="onInvoiceFormSubmitted(invoiceForm)"
>
  <div>
    <mat-form-field apperance="fill">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" placeholder="Name" required />
      <mat-error>Name is required</mat-error>
    </mat-form-field>

    <mat-form-field apperance="fill">
      <mat-label>Count</mat-label>
      <input
        matInput
        type="text"
        formControlName="count"
        placeholder="Count"
      />
      <mat-error>Count is required</mat-error>
    </mat-form-field>

    <mat-form-field apperance="fill">
      <mat-label>Price</mat-label>
      <input matInput type="text" formControlName="price" placeholder="Price" />
      <mat-error>Price is required</mat-error>
    </mat-form-field>

    <button mat-icon-button color="primary">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <div>
    <button mat-button color="primary" class="add-new-item-button">
      <mat-icon>add</mat-icon>
      Add new item
    </button>
  </div>

  <div>
    <button mat-raised-button color="primary">Submit</button>
  </div>
  
</form>
