<ng-container *ngIf="company$ | async as company">
  <h1>{{ company.name }}</h1>

  <h2>{{ company.address }}</h2>

  <p>Phones: {{ company.phones.join(', ') }}</p>

  <hr>
</ng-container>

<table *ngIf="invoice$ | async as invoice; else empty">
  <tr>
    <th>#</th>
    <th>Item</th>
    <th>Count</th>
    <th>Price</th>
  </tr>
  <tr *ngFor="let item of invoice.items; let i = index">
    <td>{{ i + 1 }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.count }}</td>
    <td>{{ item.price }}</td>
  </tr>
  <tr>
    <td class="right-align" colspan="4">Sum: {{ invoice.totalValue }}</td>
  </tr>
</table>

<ng-template #empty>
  <p>No items</p>
</ng-template>